body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f8fb;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #002d72;
  color: #fff;
  flex-wrap: wrap;
}
.logo img {
  height: 70px;
  }

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 600;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
  color: #82ccdd; /* lighter blue */
  background-color: #1e3799; /* highlight bg */
}

.about-hero {
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  color: #fff;
}

.mission-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 1rem;
  gap: 2rem;
}

.box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.team {
  text-align: center;
  padding: 3rem 1rem;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.member {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.member img {
  width: 100%;
  border-radius: 8px;
}
footer {
  background: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  font-size: 0.9rem;
}


/* Responsive */

@media (max-width: 768px) {
  header {
    justify-content: center;
  }

  nav ul {
    gap: 15px;
    flex-wrap: wrap;
  }

  .box h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .box {
    grid-template-columns: 1fr;
  }

  .box p {
    font-size: 1rem;
  }
}